@font-face {
	font-family:Chopstic;
	src:url(./fonts/Chopsic-K6Dp.ttf)
}
@font-face {
	font-family:Nebula;
	src:url(./fonts/SheepingCats-929Z.ttf);
}
@font-face {
	font-family:NebulaS;
	src:url(./fonts/SheepingCatsStraight-lrlZ.ttf);
}
@font-face {
	font-family:Azonix;
	src:url(./fonts/Azonix-1VB0.otf);
}
@font-face {
	font-family:Moon;
	src:url(./fonts/MoongladeDemoBold-jOzM.ttf);
}
@font-face {
	font-family:Spartan;
	src:url(./fonts/Spantaran-GE2D.ttf);
}
/*	^^^^	Fonts	^^^^	*/
body {  
	background:linear-gradient(to right, purple, #7300b5);
	/*background-image:url(nebula.png);*/
	background-size:auto;
	background-repeat:no-repeat;
	background-position:center;
}
a {
	text-decoration:none;
}
h1 {
	background:linear-gradient(to right, #6613ba, #695eff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:Azonix;
	font-size:350%;
	padding:0px;
	transform:scale(1,1);				
}
h2 {
	background:linear-gradient(to right, #6613ba, #695eff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	text-align:center;
	font-family:Moon;
}
.center {
	display:block;
	margin:auto;
	width:50%;
	text-align:center;
}
.left {
	display:block;
	margin-left:0;
	width:25%;
	text-align:left;
	vertical-align:middle;
}
li, h3 {
	text-align:left;
	font-family:Montserrat;
	color:lightgray;
}
th {
	color:black;
	cursor:pointer;
	font-size:150%;
}
#bannerDiv {
	background:linear-gradient(to right, #07008a00, #07008a, #07008a, #07008a00);
	magin:auto;
	width:50%;
	text-align:center;
	padding:1px;
}
.overlay {
	background:rgba(51, 55, 69, 0.80);
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	overflow:hidden;
 	list-style:none;
	
}
.overlay.open {
	opacity: 1;
	visibility: visible;
}
.menu {
	width:5px;
	height:5px;
	position: absolute;
    	top: 0;
    	left: 0;
}
.openmenu {
	display:inline;
}
