@font-face {
	font-family:Azonix;
	src:url(./fonts/Azonix-1VB0.otf);
}
/*	^^^^	Fonts	^^^^	*/
html {  
	background:linear-gradient(to right, purple, #7300b5);
	/*background-image:url(nebula.png);*/
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	overflow-y:auto;
}
* {
	text-decoration:none;
}
h1 {
	background:linear-gradient(to right, #6613ba, #695eff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-family:Azonix;
	font-size:350%;
	text-align:center;
	top:25px;
	position:fixed;	
	cursor:default;
}
h2 {
	background:linear-gradient(to right, #6613ba, #695eff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	text-align:center;
	font-family:Montserrat;
}
div {
	width:auto;
}
.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	text-align:center;
}
.left {
	display:inline-block;
	float:left;
	position:fixed;
	text-align:left;
	width:auto;
}
.right {
	display:inline-block;
	float:right;
	position:relative;
	top:8;
	right:8;
}
.navbar {
	background:rgba(51, 55, 69);
	width:100%;
	height:120px;
	z-index:19;
	position:fixed;
	top:0;
	left:0;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
h3 {
	text-align:left;
	font-family:Montserrat;
	font-size:200%;
	color:lightgray;
	margin:0px 0px;
	padding:5px;
}
li {
	font-family:Montserrat;
	font-size:150%;
	color:lightgray;
	padding-bottom:10px;
	cursor:pointer;
	width:auto;
	transition:text-shadow 0.35s ease-in-out;
	transition:font-size 0.35s ease-in-out;
}
ul {
	list-style:none;
	margin-top:80px;
	width:auto;
}
th {
	color:black;
	cursor:pointer;
	font-size:150%;
}
img {
	vertical-align:-8px;
}
.overlay {
	background:rgba(51, 55, 69, 0.80);
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:20;
	opacity:0;
	visibility:hidden;
	position:fixed;
	overflow-y:auto;
}
.overlay.open {
	opacity: 1;
	visibility: visible;
}
.menu {
	width:5px;
	height:5px;
	position: absolute;
    	top: 0;
    	left: 0;
}
#menu {
	text-align:center;
	
}
.open-menu {
	display:inline-block;
	top: 8;
	left: 8;
	z-index:10;
	white-space:nowrap;
	cursor:pointer;
	border-radius:10px;
	transition:background 0.35s ease-in-out;
	width:auto;
	
}
.movies {
	display:inline-block;
	top: 8;
	left: 8;
	z-index:10;
	white-space:nowrap;
	cursor:pointer;
	border-radius:10px;
	transition:background 0.35s ease-in-out;
	width:auto;
	
}
.home {
	display:inline-block;
	top: 8;
	left: 8;
	z-index:10;
	white-space:nowrap;
	cursor:pointer;
	border-radius:10px;
	transition:background 0.35s ease-in-out;
	width:auto;
}
.close-menu {
	cursor:pointer;
	margin-top:2px;
	margin-left:1px;
	transition: transform .35s ease-in-out;
}
.menu-head {
	top:5px;
	left:5px;
	position:fixed;
	height:40px;
	width:100%
}
.bannerDiv {
	background:linear-gradient(to right, #07008a00, #07008a, #07008a, #07008a00);
	magin:auto;
	width:75%;
	text-align:center;
	padding:1px;
	border-radius:60px;

}
li:hover {
	text-shadow:0px 0px 13px lightgray;
	font-size:175%;
}
.close-menu:hover {
	transform:scale(1.5)
}
.open-menu:hover {
	background:rgba(17, 17, 17)
}
.movies:hover {
	background:rgba(17, 17, 17)
}
.home:hover {
	background:rgba(17, 17, 17)
}
#media-screen {
	position:relative;
	margin-top:128px;
	width:100%;
	height:auto;
}
